{
	"apiVersion": 2,
	"name": "{{slug}}/static-block-with-styles",
	"title": "Static Block with Styles",
	"category": "{{slug}}",
	"description": "A starter static block w/ styles.",
	"keywords": [ "static block", "styles" ],
	"attributes": {
		"align": {
			"type": "string",
			"default": "default"
		}
	},
	"styles": [
		{
			"name": "default",
			"label": "Default",
			"isDefault": true
		},
		{
			"name": "light",
			"label": "Light"
		},
		{
			"name": "dark",
			"label": "Dark"
		}
	],
	"supports": {
		"align": [ "wide", "full" ]
	}
}
