{
	"apiVersion": 2,
	"name": "{{slug}}/static-block",
	"title": "Static Block",
	"category": "{{slug}}",
	"description": "A starter static block.",
	"keywords": [ "static block" ],
	"attributes": {
		"align": {
			"type": "string",
			"default": "wide"
		}
	},
	"styles": [],
	"supports": {
		"align": [ "wide", "full" ]
	}
}
