/**
 * External Dependencies
 */

/**
 * WordPress Dependencies
 */
import { useSelect, useDispatch } from '@wordpress/data';
import { Guide, ExternalLink } from '@wordpress/components';
import { __ } from '@wordpress/i18n';

/**
 * Internal Dependencies
 */
import './index.scss';
{{#softwareLicensing}}
import SoftwareLicensing from './software-licensing';
{{/softwareLicensing}}
import { config } from '../../../package';
const { slug, slugCamelCase, upgradeLink } = config;

const WelcomeGuide = () => {
	const isActive = useSelect(
		( select ) =>
			select( 'core/edit-post' ).isFeatureActive( `${ slugCamelCase }Guide` ),
		[]
	);
{{#softwareLicensing}}
	const { licenseKey, licenseStatus } = useSelect(
		( select ) => {

			const pluginSettings = select(
				`${ slug }/settings`
			).getPluginSettings();

			return {
				licenseKey: pluginSettings.licenseKey,
				licenseStatus: pluginSettings.licenseStatus };
	} );
{{/softwareLicensing}}
	const { toggleFeature } = useDispatch( 'core/edit-post' );

	if ( ! isActive ) {
		return null;
	}

	return (
		<>
			<Guide
				className={ `${ slug }-welcome-guide` }
				onFinish={ () => toggleFeature( `${ slugCamelCase }Guide` ) }
				pages={ [
					{
						image: <img src="/wp-content/plugins/{{slug}}/src/assets/img/welcome-guide-background.jpg" />,
						content: (
							<div className={ `wp-block-${ slug }` } >
							<div className="p-10 pt-0">
								<h1 className="mt-0">{ __( 'Thank you for choosing the {{title}} plugin!', '{{textdomain}}' ) }</h1>
								<p>{ __( 'Quickly learn how to get the most bang for your buck out using the Sidebar plugin.', '{{textdomain}}' ) }</p>
								{{#softwareLicensing}}
								{
									licenseStatus !== 'valid' &&
									<>
										<h2 className="mb-0 mt-10">{ __( 'Activate Utility Plugin', '{{textdomain}}' ) }</h2>
										<p>{ __( 'Enter your license key below to receive plugin updates.', '{{textdomain}}' ) }</p>
										
										<div className="w-1/2">
											<SoftwareLicensing label={ false } />
										</div>										
									</>
								}
								{{/softwareLicensing}}
							</div>
						</div> ),
					},
				] }
			/>
		</>
	);
}

export default WelcomeGuide;
